.table-container {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  text-align: left;
  border: 2px solid rgb(23, 61, 83);
}

.table th {
  background-color: #3498db;
}

.table tbody tr:hover {
  background-color: #f1c40f;
}

.delete-btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c0392b;
}