.my-form{
  margin-top: 10px;
  margin-left: 10px;
  border: 2px solid rgb(23, 61, 83);
  max-width: 300px;
  padding-bottom: 10px;
  border-radius: 7px;
  box-sizing: border-box;
  padding: 5px;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto;
}

label {
  margin: 5px 0;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 6px;
  margin-top: 5px;
  border-radius: 7px;
  border: 2px solid rgb(23, 61, 83);
  box-sizing: border-box;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}